body {
  background: rgb(211,212,214);
  background: linear-gradient(90deg, rgba(211,212,214,1) 0%, rgba(238,223,199,1) 50%, rgba(195,225,228,1) 100%);
  color: #1a093f;
}

.container {
  display: flex;
  width: 85%;
  margin: auto;
}

.header {
  width: 40%;
  margin-top: 60px;
}

.slider {
  padding: 50px;
  width: 60%;
  margin: 20px;
}

h1 {
  font-size: 60px;
  letter-spacing: -2px;
  line-height: 100%;
}

img {
  border-radius: 15px;
}

.textPhoto {
  color: grey;
  margin: 0px;
  font-size: 12px;
}

.btn {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #1a093f;
}

button:hover {
  background-color: #1a093f;
  color: white;
  opacity: 0.7;
}

.resultText {
  color: #ff3460;
}

footer {
  display: flex;
  justify-content: center;
}

.footerText, a {
  color: gray;
  font-size: 14px;
}

@media all and (max-width: 800px) {

  .container {
    flex-direction: column;
  }

  .header {
    width: 90%;
    padding: 20px;
    margin-top: auto;
  }

  h1 {
    font-size: 46px;
  }
  
  .slider {
    width: 90%;
    padding: 20px;
    margin: auto;
  }
}